
/* ?Variables */
:root {
    --first-color: #ffffff;
    --second-color: #ffffff;
    --text-first-color: #ffffff;
    --text-second-color: #ffffff;
  /*   --font-family-first:; */
    ;
    /*  --font-family-second:; */
    --font-size-title: 1.5rem;
    --font-size-text: 1rem;
    --line-height-base: 1.5;
}
/* ?Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture, video, iframe, figure {
    max-width: 100%; 
    width: 100%;
    display: block;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}


/*!Responsive Desing*/


/* ?Movil */

.logo {
    max-width: 5rem;
}


/* ?Tablets */

@media screen and (min-width:768px) and (max-width: 992px) {}

/* ?Desktops */
@media screen and (min-width: 992px) {}

/* ?Alta resolución  img*/
@media (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 3) {}