/**ESTILOS PARA SPA (SINGLE PAGES APPLICATIONS) */
/* ?Variables */
:root {
    --first-color: #ffffff;
    --second-color: #ffffff;
    --text-first-color: #ffffff;
    --text-second-color: #ffffff;
    --font-family-first: "Montserrat", sans-serif;
    ;
    /*  --font-family-second:; */
    --font-size-title: 1.5rem;
    --font-size-text: 1rem;
    --line-height-base: 1.5;
}
/* ?Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture, video, iframe, figure {
    max-width: 100%; 
    width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6, p, span, a, p, strong{
    text-decoration: none;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}

header{
    padding: 2rem;
    background-color: red;
}
/*!Responsive Desing*/


/* ?Movil */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/fondo-login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo {
    max-width: 5rem;
}
.navList{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.navList li a{
    color: black;
}
.openMenu, .closeMenu{
    display: block;
    margin-left: auto;
}
/* 
nav{
    opacity: 0;
    visibility: hidden;
    display: flex ;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.508);
} */

nav {
    opacity: 0;
    visibility: hidden;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 50%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: end; 
    gap: 1rem;
    background-color: aqua;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.508);
    transition: opacity 0.5s ease-in-out;
}
.visible{
    opacity: 1;
    visibility: visible;
}

.login, .signUp{
    display: flex;
    justify-content: center;
}
.loginForm, .signUpForm{
    background-color: rgba(0, 0, 0, 0.725);
    min-width:90%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding:  1rem;
    border-radius: 10px;
    border: 2px solid #F5600E;
}
.loginForm > .logo > img, .signUpForm > .logo > img{
    width: 7rem;
    border-radius: 100%;
    margin: 1rem 0;
}
.loginForm > .input, .signUpForm > .input{
    width: 100%;
}
.loginForm  input, .signUpForm input{
    min-width:100% ;
    height: 2rem;
    margin: 0.3rem 0;
    outline: none;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0 0.5rem;
}
.loginForm input::placeholder{
    font-size: 0.8rem;
}
.loginForm button, .signUpForm button{
    font-size: 1rem;
    margin: 1rem 0;
    background-color: #F5600E;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
}
.loginForm .data{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
.loginForm .data a{
    text-decoration: none;
    color:#1877f2;
}
.loginForm .data a:hover{
    text-decoration: underline;
    color:#1877f2;
}
/* ?Tablets */

@media screen and (min-width:768px) and (max-width: 992px) {}

/* ?Desktops */
@media screen and (min-width: 992px) {}

/* ?Alta resolución  img*/
@media (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 3) {}