<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/styles.css" />
    <title>Empresa</title>
  </head>
  <body>
    <main>
      <section class="login">
        <form action="" method="post" autocomplete="off" class="loginForm">
          <div class="logo">
            <img src="../../../public/img/logo.png" alt="Logo de empresa" />
          </div>
          <div class="input">
            <input type="text" name="user" placeholder="Usuario" required>
          </div>
          <div class="input">
            <input type="text" name="password"  placeholder="Contraseña" required>
          </div>
          <div>
            <button>Iniciar sesión</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
