<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../public/css/styles.css" />
    <title>Registro</title>
</head>

<body>
    <main class="inicioS">
        <section>
            <h1>Registrate</h1>
            <form action="" method="post" autocomplete="off" class="signUp signUpForm">
                <div class="logo">
                    <img src="../../../public/img/perfil.png" alt="Perfil de usuario" />
                </div>
                <div class="input">
                    <label>Usuario</label>
                    <input type="text" name="user">
                </div>
                <div class="input">
                    <label>Contraseña</label>
                    <input type="password" name="password">
                </div>
                <div class="input">
                    <label>Nombre</label>
                    <input type="text" name="name">
                </div>
                <div class="input">
                    <label>Apellido</label>
                    <input type="text" name="lestname">
                </div class="input">
                <div class="input">
                    <label>correo</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <input type="submit" value="Registrarse" name="btnRecord">
                </div>
                <div>
                    <a href="user.html">volver</a>
                </div>
            </form>
        </section>
    </main>
</body>

</html>